* {
  margin: 0.5rem;
  padding: 0;
}
body {
  border-left: 3px solid green;
  border-right: 3px solid green;
  border-top: 3px solid green;

  height: 500px 100px;
}
.main {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 13rem 0 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  margin: 0 13rem 0 3rem;
  padding: 2rem;
}
.header {
  display: flex;
  justify-content: center;
}
.header_content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.header_content p {
  margin-left: 3rem;
}
.acedemic-background {
  margin-top: 5rem;
}
p {
  max-width: 400px;
}
.description-header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
