#main {
  display: grid;
  grid-template-rows: repeat(8, 100px);
  grid-template-columns: repeat(8, 100px);
  width: 800px;
  height: 800px;
  background-color: #ffffff;
}
#main .tile {
  width: 100px;
  height: 100px;
}
#main .black {
  background-color: rgb(7, 7, 7);
}
