@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url('https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu Condensed', sans-serif;

  min-height: 100vh;
  color: #fff;
  font-size: 20px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quiz-container {
  background-color: rgb(70, 66, 66, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(236, 102, 102, 0.3);
  width: 600px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.quiz-header {
  padding: 4rem;
}

ul {
  list-style-type: none;
  padding: 0%;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button,
button::after {
  background-color: #186161ad;
  color: #fff;
  border: none;
  display: block;
  font-family: inherit;
  font-size: 1.3rem;
  width: 100%;
  padding: 1.3rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  transition: 0.2s;
  font-size: 25px;
  border-radius: 12px;
}

button:hover,
button:hover::after {
  background: #ec7171b6;
  color: #255784;
  box-shadow: 0 0 15px #bb3c4db6, 0 0 15px #e7246fb6, 0 0 15px #e2545bb6;
}

.subtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
}

label {
  margin-right: 15px;
  line-height: 32px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input:checked {
  border: 6px solid rgb(197, 96, 135);
}
